<h2>Request Help</h2>

<%= form_for :help_request, url: {action: "create"} do |f| %>
  <div class="row">
    <div class="col s12">
      <div class="input-field">
        <%= f.collection_select :help_type_id, HelpType.all, :id, :Description, include_blank: true %>
        <%= f.label :Category %><br />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="input-field">
        <%= f.text_area :description, autofocus: true, class: "materialize-textarea" %>
        <%= f.label :description %><br />
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Post", class: 'btn' %>
  </div>
<% end %>
